.admin-body {
    .admin-breadcrums {
        display: flex;
        align-items: center;
        .arrow {
            width: 20px;
        }
    }
    .main-wrapper {
        display: flex;
        .left-section {
            width: 50%;
        }
    }
}
