.space-wrapper {
    width: 100%;
    padding: 30px 50px;
    .space-image-map-section {
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        .space-description {
            width: 50%;
            img {
                width: 100%;
            }
        }
        .space-map {
            width: 40%;
            margin-left: 20px;
            img {
                width: 100%;
            }
        }
    }

    .space-list {
        .space-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                width: 120px;
                margin-right: 10px;
            }
        }
    }
}
