.my-liked-property-wrapper {
    .property-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .property-item {
            width: 31.3%;
            margin: 0% 2% 2% 0%;
            border-radius: 8px;
            overflow: hidden;
            .property-image {
                position: relative;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .liked-wrapper {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 25px;
                    height: 25px;
                }
            }
            .property-description {
                padding: 10px;
            }
        }
    }
}
